vulns-api/schemas/vuln.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Tipos simples reutilizables -->
  <xs:simpleType name="cveIdType">
    <xs:restriction base="xs:string">
      <xs:pattern value="CVE-\d{4}-\d{4,}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="osType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="windows"/>
      <xs:enumeration value="linux"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="severityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LOW"/>
      <xs:enumeration value="MEDIUM"/>
      <xs:enumeration value="HIGH"/>
      <xs:enumeration value="CRITICAL"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tipoVulnType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RCE"/>
      <xs:enumeration value="EoP"/>
      <xs:enumeration value="DoS"/>
      <xs:enumeration value="InfoDisclosure"/>
      <xs:enumeration value="AuthBypass"/>
      <xs:enumeration value="SQLi"/>
      <xs:enumeration value="XSS"/>
      <xs:enumeration value="Other"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fuenteType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NVD"/>
      <xs:enumeration value="MSRC"/>
      <xs:enumeration value="CVE.org"/>
      <xs:enumeration value="CISA-KEV"/>
      <xs:enumeration value="OSV"/>
      <xs:enumeration value="Exploit-DB"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cvssVersionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="3.0"/>
      <xs:enumeration value="3.1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cvssScoreType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0.0"/>
      <xs:maxInclusive value="10.0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="versionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ubuntu"/>
      <xs:enumeration value="debian"/>
      <xs:enumeration value="alpine"/>
      <xs:enumeration value="arch"/>
      <xs:enumeration value="fedora"/>
      <xs:enumeration value="centos"/>
      <xs:enumeration value="rhel"/>
      <xs:enumeration value="opensuse"/>
      <xs:enumeration value="windows-10"/>
      <xs:enumeration value="windows-11"/>
      <xs:enumeration value="windows-server-2019"/>
      <xs:enumeration value="windows-server-2022"/>
      <xs:enumeration value="windows-server-2025"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Tipo complejo: CVSS -->
  <xs:complexType name="cvssType">
    <xs:sequence>
      <xs:element name="version"  type="cvssVersionType"/>
      <xs:element name="score"    type="cvssScoreType"/>
      <xs:element name="severity" type="severityType"/>
      <xs:element name="vector"   type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Tipo complejo: lista de referencias -->
  <xs:complexType name="referenciasType">
    <xs:sequence>
      <xs:element name="item" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Elemento raíz: vuln (para POST y PUT) -->
  <xs:element name="vuln">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"           type="cveIdType"/>
        <xs:element name="titulo"       type="xs:string"/>
        <xs:element name="descripcion"  type="xs:string"/>
        <xs:element name="os"           type="osType"/>
        <xs:element name="version"      type="versionType"  minOccurs="0"/>
        <xs:element name="tipoVuln"     type="tipoVulnType" minOccurs="0"/>
        <xs:element name="severity"     type="severityType"/>
        <xs:element name="cvss"         type="cvssType"/>
        <xs:element name="fechaPublicacion"   type="xs:date"/>
        <xs:element name="fechaActualizacion" type="xs:date"    minOccurs="0"/>
        <xs:element name="explotadaActivamente" type="xs:boolean" minOccurs="0"/>
        <xs:element name="fuente"       type="fuenteType"/>
        <xs:element name="urlParche"    type="xs:anyURI"    minOccurs="0"/>
        <xs:element name="referencias"  type="referenciasType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
